.container {
  padding: 20px;
  display: flex;
  justify-content: left;
}

mat-card {
  width: 100%;
  max-width: 600px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
